/** {*/
/*    border: 1px red solid;*/
/*}*/

@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');

html{
    font-family: 'Ubuntu', sans-serif; !important;
    color: white; !important;
    background-color: black; !important;
    font-size: 18px; !important;
}

body {
    padding-top: 50px;
    padding-left: 100px;
    width: 1100px;
}

.bold {
    font-weight: bold;
}

.underline{
    text-decoration: underline;
}

ul{
    margin-left: 150px;
    padding-bottom: 20px;
    width: 1200px;
}
