/** {*/
/*    border: 1px red solid;*/
/*}*/

@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');

html{
    font-family: 'Ubuntu', sans-serif;
    color: white;
    background-color: black;
    font-size: 22px;
}

body {
    padding-top: 50px;
    padding-left: 100px;
}

.title{
    text-align: center;
    font-size: 50px;
    font-weight: bold;
}

.title2{
    text-align: center;
    font-size: 22px;
}

ul{
    margin-left: 150px;
    padding-bottom: 20px;
    width: 1200px;
}